p{
    font-size: 18px;
    color: grey;
    font-weight: 400;
}

@media only screen and (max-width: 600px) { /* CSS HERE ONLY ON PHONE */ 
    .bgc{
        display: none;
    }
    .mobdis{
        display: none;
    }

}