

<div style="width: 90%; margin-left: 5%; padding-top: 55px; height: 100vh;background-color: white; overflow-y: scroll; overflow-x: hidden;">


    <div style="position: fixed; width: 90%; height: 50px; background-color: black; color: white; font-weight: bold; font-size: 15px; padding-top: 10px; text-align: center;">
        <p style="width: 40%; float: left; padding-left: 0px;">
            Sender's Address
        </p>
        <p style="width: 40%; float: left;padding-left: 0px;">
            Reciever's Address
        </p>
        
        <p style="width: 5%; float: left;padding-left: 0px;">
            Date
        </p>
        <p style="width: 15%; float: left;padding-left: 0px;">Amount</p>
    </div>

    <table  style="width: 100%; table-layout: fixed; margin-top: 50px; border: 3px solid grey;"  class="table">
        <!-- <thead style="width:100%; position: fixed;" class="thead-dark">
            <tr>
                <th style="width: 40%;">From</th>
                <th style="width: 40%;">To</th>
                <th style="width: 15%;">Amount</th>
            </tr>
        </thead> -->
       <tbody *ngFor ='let t of transactions[0].reverse()'>
           <tr style="height: 40px;">
               <td style="word-wrap: break-word; width: 36%;">{{t['From']}}</td>
               <i class="fa fa-arrow-right" aria-hidden="true" style="margin-top: 15px; width: 4%; font-size: 30px; text-align: center; padding-left: 20px; color: green;"></i>
               <td style="word-wrap: break-word; width: 33%;">{{t['To']}}</td>
               <td style="word-wrap: break-word; width: 13%; text-align: center; padding-left: 20px;">{{t['timestamp']  | date:'short'}}</td>
               
               <td style="word-wrap: break-word; width: 10%; text-align: center;">{{t['amount']}}</td>
           </tr>
       </tbody>

    </table>


</div>

